<h2<shouts</h2>

<% if current_user.following?(@user) %>
  <%= button_to "Unfollow #{@user.email}", [@user, :following_relationship], method: :delete %><% else %>
  <% if current_user != @user %>
  <%= button_to "Follow #{@user.email}", [@user, :following_relationship] %>
  <% end %>
  <% end %>


<%= @user.email %>
<%= render @shouts %>
